        <!-- Service -->
        <section id="service">
            <div class="title-text">
                <p>Dear Elon</p>
                <h1>Please Stop</h1>
            </div>
            <div class="service-box">
                <app-home-qrcode class="single-service" *ngFor="let crypto of cryptoData" [data]="crypto"></app-home-qrcode>
            </div>
            <!-- <div class="service-box">
                <div class="single-service" *ngFor="let crypto of cryptoData">
                    <div id="qrhide_{{crypto.coin}}_{{crypto.address}}" #btc_qrhide class="close-btn"><strong><i class="fa fa-times-circle"></i></strong></div>
                    <img src="{{crypto.image}}" alt="">
                    <div id="overlay_{{crypto.coin}}_{{crypto.address}}" #btc_overlay class="overlay">
                        <button id="qrview_{{crypto.coin}}_{{crypto.address}}" #btc_qrview>View QR Code</button>
                        <button id="addrcp_{{crypto.coin}}_{{crypto.address}}" #btc_addrcp>Copy Address</button>
                        <div class="service-desc">
                            <h3 id="address_id_{{crypto.coin}}_{{crypto.address}}" #btc_address_id>{{crypto.address}}</h3>
                            <hr>
                            <p>{{crypto.message.objective}}</p>
                        </div>
                    </div>
                </div>
            </div> -->
        </section>